.forty-seven{
    color:rgb(55, 112, 93);
    font-size: 56px;

}

#new-bee{
    color:rgb(98, 142, 32);
    font-size: 45px;
    
}

#read-repeat{
    color:brown;
    font-size: 40px;
    
}

#ten-tu{
    font-style: italic;
    font-size: 34px;
    
}

